.input-group {
  border-radius: 0.375rem;

  &:focus-within {
    box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
  }

  input {
    box-shadow: none;
  }

  button {
      flex: 0 1 58px;
  }
}
