<app-nav-menu></app-nav-menu>
<main class="container">
  <ngbd-alert-selfclosing></ngbd-alert-selfclosing>
  <router-outlet></router-outlet>
</main>
<footer class="border-top bg-white mt-3">
  <div class="container">
    <p>Made by Mogge</p>
    <a class="link-success"
       target="_blank"
       href="https://github.com/WulffMorgan/TheSynonymizer">
      GitHub
    </a>
    <a class="link-success"
       target="_blank"
       href="../swagger/index.html">
      OpenAPI
    </a>
  </div>
</footer>
